.detail {
    .hr-section {
        hr {
            width: 100%;
        }

        @include breakpoint-up(medium) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            hr {
                grid-column: 1 / 3;
            }

            p {
                grid-column: 2 / 3;
                grid-row: 2 / 6;
            }

            button {
                justify-self: start;
                margin-top: 1rem;
                margin-bottom: 1.5rem;
            }

            .heading {
                margin: 15px 0;
            }
        }
    }
}
