.footer {
    background-color: $grayishDarkBlue;
    height: 354px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem;
    a {
        color: white;
        font-size: $font-sm;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    svg > path {
        fill: white;
    }

    &__social {
        
        a {

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }
    // text-align: center;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
}
