// Colors
$cyan: #5fb4a2;
$darkBlue: #203a4c;
$grayishDarkBlue: #33323d;
$veryLightGray: #fafafa;
$lightGray: #eaeaeb;
$brightRed: #f43030;

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.5rem; // 24px
$font-xlg: 2.5rem; // 40px
$font-xxlg: 3.25rem; // 52px
$font-jumbo: calc(min(10vw + 0.625rem, 7.5rem));

// Font Families
$ibarra: "Ibarra Real Nova", serif;
$public: "Public Sans", sans-serif;
