.portfolio {
    > section {
        .preview {
            width: 100%;
        }

        @include breakpoint-up(medium) {
            display: flex;
            justify-content: space-between;
            align-items: center;

            > * {
                flex-basis: calc(50% - 2rem);
                .preview {
                    margin-bottom: 0;
                }
            }
        }
    }
}
